# Eclipse directories and configuration files.
.settings/

.project
.classpath

# Ignore generated class files
bin/

# Not sure what hooks is, but it takes over the repository with shell scripts.
hooks/
info/